################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CSharpTesting/NewFrameworkFeatures/obj
/CSharpTesting/Testing1/obj/Release
/NotifyPropertyChanged/TestApplication/obj/Release
/RtfHtmlConverter/ClassLibrary1/obj/Release
/ExchangeTestProject/MonitoringApp/obj
/ExchangeTestProject/WebclientDownloader/obj/Release
/RtfHtmlConverter/RtfHtmlConverter/obj/Release
/RtfHtmlConverter/WindowsFormsApp1/obj/Release
/CSharpTesting/.vs/CSharpTesting/v16
/EFCore TestProject/.vs/EFCore TestProject
/EFCore TestProject/DbModel/obj
/EFGenericRepositoryPrototype/.vs/EFGenericRepositoryPrototype
/EFGenericRepositoryPrototype/DataLayer.DbModel/bin/Debug/netcoreapp2.2
/EFGenericRepositoryPrototype/DataLayer.DbModel/obj
/EFGenericRepositoryPrototype/DataLayer.Entities/obj
/EFGenericRepositoryPrototype/EFGenericRepositoryPrototype/obj
/EFGenericRepositoryPrototype/ServiceLayer/obj
/ExchangeTestProject/.vs/ExchangeTestProject/v15
/GenericRepository/.vs/GenericRepository
/GenericRepository/DataLayer.Context/bin/Debug/netcoreapp2.2
/GenericRepository/DataLayer.Context/obj
/GenericRepository/DataLayer.Entities/bin/Debug/netcoreapp2.2
/GenericRepository/DataLayer.Entities/obj
/GenericRepository/GenericRepository/bin/Debug/netcoreapp2.2
/GenericRepository/GenericRepository/obj
/GenericRepository/ServiceLayer.UnitOfWork/bin/Debug/netcoreapp2.2
/GenericRepository/ServiceLayer.UnitOfWork/obj
/GenericRepository/TestConsole/bin/Debug/netcoreapp2.2
/GenericRepository/TestConsole/obj
/GenericRepositoryPrototype/.vs/GenericRepositoryPrototype
/GenericRepositoryPrototype/DataLayer.DbModel/bin/Debug/netcoreapp2.2
/GenericRepositoryPrototype/DataLayer.DbModel/obj
/GenericRepositoryPrototype/DataLayer.Entities/obj
/GenericRepositoryPrototype/DataLayer.Repository/obj
/GenericRepositoryPrototype/GenericRepositoryPrototype/obj
/GenericRepositoryPrototype/ServiceLayer/obj
/NotifyPropertyChanged/.vs/NotifyPropertyChanged/v15
/RepositoryPrototype/.vs/NoRepositoryPrototype
/RepositoryPrototype/DataLayer.Entities/bin/Debug
/RepositoryPrototype/DataLayer.Entities/obj
/RepositoryPrototype/NoRepositoryPrototype/obj
/RepositoryPrototype/SharedPackages/.vs/SharedPackages
/RepositoryPrototype/SharedPackages/DataLayer.DbModel/obj
/RepositoryPrototype/SharedPackages/DataLayer.Entities/obj
/RtfHtmlConverter/.vs/RtfHtmlConverter/v15
