@using AutoMapperTest.ViewModel
@model UserViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>Id: @Model.Id</h2>
<h2>FirstName: @Model.FirstName</h2>
<h2>LastName: @Model.LastName</h2>
<h2>Email: @Model.EmailAddress</h2>